.links-container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px; 
}

.link {
    border: 1px solid black; 
    border-radius: 8px; 
    padding: 10px; 
    min-width: 70px; 
    max-width: 100px;
    margin-left: 20px; 
    margin-bottom: 20px; 
    transition: all .3s ease-in-out, color 0.2s 0.1s;
}

.link:hover {
    cursor: pointer; 
    color: white; 
    background-color: black; 
}